* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-wrap {
    margin: 2% auto;
    color: white;
}

#page-wrap > .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
}

section > div {
    padding: 20px;
}

header,
nav,
section,
footer {
    background: #eee;
    text-align: center;
}

nav span {
    margin: 0px 10px 0px 0px;
}

.listaErrores {
    color: red;
}

ol > li {
    margin-top: 10px;
    text-align: left;
    padding-left: 15px;
}

form > p {
    margin-top: 5px;
}

.fontSmall {
    font-size: smaller;
}
